<tr id="<%= dom_id(s) %>">
  <%= turbo_stream_from s %>
  
  <td><%= s.username %></td>
  <%# 法律分数 %>
  <td style="<%= 'color: red; font-weight: bold;' if s.law_score.to_i < 60 %>">
    <%= s.law_score %>
  </td>

  <%# 数学分数 %>
  <td style="<%= 'color: red; font-weight: bold;' if s.math_score.to_i < 60 %>">
    <%= s.math_score %>
  </td>

  <%# 语文分数 %>
  <td style="<%= 'color: red; font-weight: bold;' if s.chinese_score.to_i < 60 %>">
    <%= s.chinese_score %>
  </td>

  <%# 社会分数 %>
  <td style="<%= 'color: red; font-weight: bold;' if s.social_score.to_i < 60 %>">
    <%= s.social_score %>
  </td>
  
  <td data-controller="countdown" 
      data-countdown-updated-at-value="<%= s.updated_at.iso8601 %>">
    
    <% if s.can_exam? %>
      <%= button_to '考试', run_exam_exam_path(s), method: :post %>
    <% else %>
      <%# 倒计时显示 %>
      <span data-countdown-target="timer" style="color: #e67e22; font-weight: bold;">--:--</span>
      
      <%# 隐藏的按钮：等倒计时结束直接变出来 %>
      <div data-countdown-target="button" style="display: none;">
        <%= button_to '提交成绩', submit_exam_exam_path(s), method: :post %>
      </div>
    <% end %>
  </td>
</tr>
