<h1>学生成绩列表</h1>

<% if notice %>
  <div style="color: green; margin-bottom: 10px;"><%= notice %></div>
<% end %>
<% if alert %>
  <div style="color: red; margin-bottom: 10px;"><%= alert %></div>
<% end %>

<%= form_with model: Student.new, data: { turbo: false }, html: { autocomplete: "off" } do |f| %>
  <%= f.text_field :username, placeholder: "账号" %>
  <%= f.password_field :password, placeholder: "密码" %>
  <%= f.submit "添加" %>
<% end %>

<p></p>

<table class="table table-striped" style="text-align: left;">
  <thead>
    <tr>
      <th>账号</th>
      <th>法律</th>
      <th>数学</th>
      <th>语文</th>
      <th>社会</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |s| %>
      <%= render "students/row", s: s %>
    <% end %>
  </tbody>
</table>
